<div class="comments">
  {{#each this}}
  <div class="card mb-3">
    <div class="card-header">
          By {{user.username}} on {{format_date created_at}}
    </div>
    <div class="card-body">
      <p><em>{{comment_text}}</em></p>
    </div>
  </div>
  {{/each}}
</div>
