<div class="container-fluid">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-body">Body</label>
      <textarea id="post-body" name="post-body" type="text"/></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</div>

{{#if posts.length}}
<div class="container-fluid"></div>
  <h2>Your Posts</h2>
  <div class="row">
    {{#each posts as |post|}}
      {{> post-info-edit post }}
    {{/each}}
  </div>
</div>
{{/if}}

<script src="/javascript/add-post.js"></script>