<div class="container-fluid mt-3">
  <h3>Edit Post</h3>
  <form class="edit-post-form">

    <div class="form-group blue-border">
      <h5>Title</h5>
      <input class="form-control" id="post-title" name="post-title" rows="1" aria-label="Title"
        value="{{post.title}}" />
      <h5 class="mt-2">Body</h5>
      <textarea class="form-control" id="post-body" name="post-body" rows="5"
        aria-label="Textarea">{{post.post_body}}</textarea>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col">
        <a class="btn btn-secondary" href="/dashboard" role="button">Cancel</a>
        <button class="btn btn-primary" type="submit">Update Post</button>
      </div>
      <div class="col text-end">
        <button type="button" class="btn btn-danger delete-post-btn">Delete Post</button>
      </div>
    </div>

  </form>
</div>

<script>
var btnActive = document.getElementById("dashboardNav");
btnActive.className+= " active";
</script>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>