<div class="container-fluid">
  <div class="row">
    {{> post-info-full post}}
  </div>
</div>

<div class="container-fluid mx-3">
  <div class="row">
    {{> comments post.comments}}
  </div>
</div>

{{#if loggedIn}}
<div class="container-fluid mx-3">
  <div class="row">
    <form class="comment-form">
      <div class="form-group blue-border">
        <h5>Add a Comment</h5>
        <textarea class="form-control" id="exampleFormControlTextarea4" rows="3" aria-label="With textarea"
          name="comment-body"></textarea>
      </div>
      <div class="col text-start mt-3">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<script src="/javascript/comment.js"></script>
{{/if}}