.logo {
  font-size: 1em;
  font-family: 'Playfair Display SC', serif;
}

@media screen and (min-width:992px){
  .navbar-brand-centered {
      position: absolute;
      left: 50%;
      display: block;
      width: 160px;
      text-align: center;
  }
  .navbar>.container .navbar-brand-centered, 
  .navbar>.container-fluid .navbar-brand-centered {
      margin-left: -80px;
  }
}